@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    /* pour donner opacity à l'image  */
    background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(img/img\ \(1\).jpg); 
    background-size:cover ;
    background-repeat: no-repeat;
    /* pour redimensionner l'image  */
    height: 30rem; 
}
/* --------------------le text et l'image au milieu------------- */
.essenciel {
    display: flex;
    min-height: 110vh; 
    align-items: center;
    justify-content: center;
    margin-left: 20vw;
}
.photo img {
    width: 18vw;
    filter: none;
}
.intro {
     width: 80%;/* ------------était changé*/
    margin-left: -20px;
}
.nom {
    color: #184059;
    line-height: 20px;
}
.nom h1 {
    font-size:5vw;
    margin: 15px 0px;
}
.important {
    display: flex;
}
.objectif{
    background-color:rgba(94, 139, 166, 0.5);
    color: #FFF;
    line-height: 18px;
    padding: 5px 10px 20px 10px;
    width: 30vw ;/* ------------était changé*/
}
.objectif h2 {
    font-size:1.5em;
    line-height: 30px;
}
.contact  {
    list-style: none;
    color: #BF7B3F;
    margin: 10px;
    padding: 0px;
    font-size: 35px;
}
/* -----------------------cv elements--------------------- */
.cvElements {
    display: flex;
    justify-content: space-around;
    margin:15vh  auto 5vh;
    width: 80%;
}
.cvElements li {
    list-style: none;
    background-color: #8C2F1B;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
}
.cvElements li a {
    text-decoration: none;
    font-size: 2vw;
    color: #FFF;
}
.marginBottom {
    margin-bottom: auto;
}
.cvElements #competences {
    margin-top: 18px;
}
.cvElements #formations {
    margin-top: 35px;
}
/* ----------------------pseudo elements-------------------- */

.phone:hover::after {
    content: '07 00 00 00 00';

}
.mail:hover::after {
    content: 'aymenmedkour81@gmail.com';

}
.adress:hover::after {
    content: '11 boulevard Albin Bandini 13016 Marseille';

}
.style:hover:after {
    position: absolute;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #bf7b3f;
    margin:10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
/* -----------mode resposive------------ */
@media screen and (max-width:600px){
    header{
        height: 50vh;
        width: 100vw;
        display: block ;
        background-image: none;
    }
    .essenciel {
        display:inline-block;
        position: relative;
        margin-left:0px;
        margin-right: 0;
        width:100vw;
    }
    .photo {
        display: inline-block;
        position: relative;
        top: 0%;
        left: 10%;
    }
    .nom {
        position: absolute;
        top: 0;
        left: 30%;
        margin: 0px;
    }
    .nom h1 {
        font-size: 1.5em;
    }
    .important {
        margin: 0;
        padding: 0;
        background-color: rgba(94, 139, 166, 0.5);
    }
    .intro {
        margin: 0;
        display: block;
        width: 100%;
    }
    .objectif{
        background-color: transparent;
        width:25em;
    }
    .objectif h2 {
        font-size: 2em;
        text-align: center;
    }
    p {
        width:15em;
        margin: auto;
    }
    .cvElements {
        display: flex;
        flex-direction: column;
        margin:1vh auto;
        width: 80%;

    }
    .marginBottom{
        margin-bottom: 1em;
        margin-top: 2em;
    }
    .cvElements li a {
        font-size: 1em;
        text-align: center;  
    }
    .cvElements #competences {
        margin-top: 0;
    }
    .cvElements #formations {
        margin-top: 0;
}
    /* .style:hover:after {
        display: none;
    } */
}